.form {
	background-image: linear-gradient(#1a237e, #3949ab);
	padding: 16px;
	margin-top: 16px;
	border-radius: 8px;
	border: 1px solid #757575;
	color: #fff;
}

.inputBox {
	text-align: start;
	padding: 16px;
	border-radius: 8px;
	border: 1px solid #757575;
	width: 480px;
}

.input {
	border-radius: 8px;
	border: 4px double #424242;
	width: 360px;
	height: 40px;
	display: block;
}

.inputItem {
	text-align: start;
	margin-top: 16px;
}

.label {
	display: block;
	margin-bottom: 10px;
	color: #fff;
}

.button {
	margin-top: 16px;
	padding: 8px 16px;
	border: 1px solid #009688;
	border-radius: 8px;
	color: #009688;
	font-size: 20px;
	background-color: transparent;
}
